.WarnaBiru {
    color: blue;
}
.Miring {
    font-style: italic
}

body{
    background: url("b1.jpg") no-repeat left top fixed;
}

a:link{
    color: yellow;
    font-style: oblique;
}

a:visited{
    color: blue;
}

a:hover{
    color: red;
}

a:active{
    color: green;
}
